<li>
    <p>{{Field}}</p>

        <form>
        <div class="list-group-item">
            <b>NEW CASE CLASSIFICATION:</b> <input id="type" placeholder="{{Field}}"></input>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="update-type" data-dismiss="modal"
                data-id="{{id}}">Update Case Classification</button>
        </div>
    </form>
</li>